Sprint 1 Files and Code/FFXIVModAppThing/obj/Debug/net6.0-windows/FFXIVModAppThing.pdb
Sprint 1 Files and Code/FFXIVModAppThing/bin/Debug/net6.0-windows/FFXIVModAppThing.dll
Sprint 1 Files and Code/FFXIVModAppThing/bin/Debug/net6.0-windows/FFXIVModAppThing.pdb
Sprint 1 Files and Code/FFXIVModAppThing/obj/Debug/net6.0-windows/FFXIVModAppThing.csproj.FileListAbsolute.txt
Sprint 1 Files and Code/FFXIVModAppThing/obj/Debug/net6.0-windows/FFXIVModAppThing.dll
Sprint 1 Files and Code/FFXIVModAppThing/obj/Debug/net6.0-windows/FFXIVModAppThing.genruntimeconfig.cache
Sprint 1 Files and Code/FFXIVModAppThing/obj/Debug/net6.0-windows/FFXIVModAppThing.pdb
